name: CI pipeline for flutter

on:
  push:
    tags:
      - v**

jobs:
  setup:
    name: Setup Flutter
    runs-on: ubuntu-latest
    outputs:
      app_name: ${{ steps.get_app_info.outputs.app_name }}
      app_version: ${{ steps.get_app_info.outputs.app_version }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        id: flutter-action
        with:
          architecture: x64
          channel: stable
          cache: true
      - run: |
          git config --global --add safe.directory /opt/hostedtoolcache/flutter/${{ steps.flutter-action.outputs.CHANNEL }}-${{ steps.flutter-action.outputs.VERSION }}-${{ steps.flutter-action.outputs.ARCHITECTURE }}
          flutter --version

      - name: Get App Name and Version
        id: get_app_info
        run: |
          APP_NAME=$(grep '^name:' pubspec.yaml | head -1 | awk '{print $2}')
          APP_VERSION=$(grep '^version:' pubspec.yaml | head -1 | awk '{print $2}')
          echo "app_name=$APP_NAME" >> $GITHUB_OUTPUT
          echo "app_version=$APP_VERSION" >> $GITHUB_OUTPUT

      - name: Install Dependencies
        run: flutter pub get

  build_android:
    name: Build Android
    runs-on: ubuntu-latest
    needs: setup
    outputs:
      apk_path_arm64: build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
      apk_path_armeabi: build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
      apk_path_x86_64: build/app/outputs/flutter-apk/app-x86_64-release.apk
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Ensure secrets
        shell: bash
        env:
          KEY: ${{ secrets.KEY }}
          PROP: ${{ secrets.PROP }}
          ENV: ${{ secrets.ENV }}
        run: |
          cat << EOF > android/key.properties
          ${{ secrets.PROP }}
          EOF

          cat << EOF | base64 -d > android/android-prod.keystore
          ${{ secrets.KEY }}
          EOF

          cat << EOF > .env
          ${{ secrets.ENV }}
          EOF

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          cache: true

      - name: Build APK
        run: flutter build apk --release --obfuscate --split-per-abi --split-debug-info .debug

      - name: Upload Android Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android-builds
          path: |
            build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
            build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
            build/app/outputs/flutter-apk/app-x86_64-release.apk

  build_ios:
    name: Build iOS
    runs-on: macos-latest
    needs: setup
    outputs:
      app_path: artifacts/${{ needs.setup.outputs.app_name }}-${{ needs.setup.outputs.app_version }}-ios.app
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Ensure secrets
        shell: bash
        env:
          KEY: ${{ secrets.KEY }}
          PROP: ${{ secrets.PROP }}
          ENV: ${{ secrets.ENV }}
        run: |
          cat << EOF > android/key.properties
          ${{ secrets.PROP }}
          EOF

          cat << EOF | base64 -d > android/android-prod.keystore
          ${{ secrets.KEY }}
          EOF

          cat << EOF > .env
          ${{ secrets.ENV }}
          EOF

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          cache: true
          channel: stable

      - name: Verify Flutter Version in build_ios
        run: |
          flutter --version
          flutter doctor -v

      - name: Install CocoaPods Dependencies
        run: |
          flutter clean
          flutter pub get
          cd ios
          pod install
          cd ..

      - name: Build iOS (No Code Signing)
        run: flutter build ipa --release --no-codesign

      - name: Upload iOS Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: build/ios/ipa/${{ needs.setup.outputs.app_name }}.ipa

  build_linux:
    name: Build Linux
    runs-on: ubuntu-latest
    needs: setup
    outputs:
      linux_path: build/linux/x64/release/bundle
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Ensure secrets
        shell: bash
        env:
          KEY: ${{ secrets.KEY }}
          PROP: ${{ secrets.PROP }}
          ENV: ${{ secrets.ENV }}
        run: |
          cat << EOF > android/key.properties
          ${{ secrets.PROP }}
          EOF

          cat << EOF | base64 -d > android/android-prod.keystore
          ${{ secrets.KEY }}
          EOF

          cat << EOF > .env
          ${{ secrets.ENV }}
          EOF

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          cache: true

      - name: Install GTK dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libcurl4-openssl-dev

      - name: Build Linux
        run: flutter build linux --release

      - name: Archive build
        env:
          APP_NAME: ${{ needs.setup.outputs.app_name }}
        run: tar -czf ${{ env.APP_NAME }}-linux-x64.tar.gz -C build/linux/x64/release/bundle .
      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-build-x64
          path: ${{ env.APP_NAME }}-linux-x64.tar.gz

  build_macos:
    name: Build macOS
    runs-on: macos-latest
    needs: setup
    outputs:
      app_path: artifacts/${{ needs.setup.outputs.app_name }}-${{ needs.setup.outputs.app_version }}-macos.app
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Ensure secrets
        shell: bash
        env:
          KEY: ${{ secrets.KEY }}
          PROP: ${{ secrets.PROP }}
          ENV: ${{ secrets.ENV }}
        run: |
          cat << EOF > android/key.properties
          ${{ secrets.PROP }}
          EOF

          cat << EOF | base64 -d > android/android-prod.keystore
          ${{ secrets.KEY }}
          EOF

          cat << EOF > .env
          ${{ secrets.ENV }}
          EOF

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          cache: true

      - name: Build macOS
        run: flutter build macos --release

      - name: Archive build
        env:
          APP_NAME: ${{ needs.setup.outputs.app_name }}
        run: zip -r ${{ env.APP_NAME }}-macos.zip build/macos/Build/Products/Release/${{ env.APP_NAME }}.app
      - name: Upload macOS Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos-build
          path: ${{ env.APP_NAME }}-macos.zip

  build_windows:
    name: Build Windows
    runs-on: windows-latest
    needs: setup
    outputs:
      windows_path: build/windows/x64/runner/Release
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Ensure secrets
        shell: bash
        env:
          KEY: ${{ secrets.KEY }}
          PROP: ${{ secrets.PROP }}
          ENV: ${{ secrets.ENV }}
        run: |
          cat << EOF > android/key.properties
          ${{ secrets.PROP }}
          EOF

          cat << EOF | base64 -d > android/android-prod.keystore
          ${{ secrets.KEY }}
          EOF

          cat << EOF > .env
          ${{ secrets.ENV }}
          EOF

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          cache: true

      - name: Build Windows
        run: flutter build windows --release

      - name: Archive build
        shell: powershell
        env:
          APP_NAME: ${{ needs.setup.outputs.app_name }}
        run: Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath ${{ env.APP_NAME }}-windows-x64.zip
      - name: Upload Windows Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-build-x64
          path: ${{ env.APP_NAME }}-windows-x64.zip

  release:
    runs-on: ubuntu-latest
    needs:
      [setup, build_android, build_linux, build_windows, build_macos, build_ios]
    steps:
      - name: Get version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Display structure of downloaded files
        run: ls -R artifacts

      - name: Upload Release Assets
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
          VERSION: ${{ steps.get_version.outputs.VERSION }}
          APP_NAME: ${{ needs.setup.outputs.app_name }}
        run: |
          gh release upload ${{ github.ref }} artifacts/android-builds/app-arm64-v8a-release.apk#${APP_NAME}-${VERSION}-android-arm64.apk
          gh release upload ${{ github.ref }} artifacts/android-builds/app-armeabi-v7a-release.apk#${APP_NAME}-${VERSION}-android-armeabi-v7a.apk
          gh release upload ${{ github.ref }} artifacts/android-builds/app-x86_64-release.apk#${APP_NAME}-${VERSION}-android-x86_64.apk
          gh release upload ${{ github.ref }} artifacts/linux-build-x64/${APP_NAME}-linux-x64.tar.gz#${APP_NAME}-${VERSION}-linux-x64.tar.gz
          gh release upload ${{ github.ref }} artifacts/windows-build-x64/${APP_NAME}-windows-x64.zip#${APP_NAME}-${VERSION}-windows-x64.zip
          gh release upload ${{ github.ref }} artifacts/macos-build/${APP_NAME}-macos.zip#${APP_NAME}-${VERSION}-macos.zip
          gh release upload ${{ github.ref }} artifacts/ios-build/${APP_NAME}.ipa#${APP_NAME}-${VERSION}-ios.ipa
